$font-family: 'Roboto', sans-serif;
$background-color: #f5f6fa;
$primary-color: #182C61;
$max-width: 1024px;
$spacing: 16px;
$menu-spacing: 24px;
$product-spacing: 4%;
$product-columns: 32.66%;
$product-border-radius: 16px;
$product-button-radius: 8px;
$product-button-bg: #44bd32;
$product-button-hover-bg: #4cd137;